*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(135deg, #345678, #738856) ;
    width: 100%;
    height :82vh;
    position: relative;
}

.container{
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8% 12%;
    align-items: start;
}
.container h1{
    color: #fff;
    font-weight: 800;
    font-size: 50px;
}

.container h1 span{
    display: block;
    color: #ffff76;
    margin-bottom: 40px;
    margin-top: 5px;
    font-weight: 800;
}

.input-field{
    min-width: 500px;
    background: #ffffff5c;
    border-radius: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 40px;
    flex-wrap: wrap;
}

.date-box{
    width: 350px;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;

}

.input-field button{
    padding: 15px 30px;
    background: #ffff76;
    border: none;
    overflow: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.result{
    color: #fff;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 500;
}

.result span{
    color: #ffff76;

}

@media only screen and (max-width: 768px) {
    body {
      height: auto;
    }
  
    .container {
      width: 90%;
      margin: 20px auto;
    }
  
    .container h1 {
      font-size: 40px;
    }
  
    .input-field {
      min-width: unset; 
      padding: 20px; 
    }
  
    .date-box {
      width: 100%;
    }
  
    .input-field button {
      padding: 12px 24px;
      font-size: 14px;
    }
  }
  